<!--This can be displayed all devices except medium and small mobile devices cannot be displayed.-->
<div class="block Medium_Mobiles_Size_View:hidden Small_Mobiles_Size_View:hidden">
  <div class="h-[19px] w-[102px] bg-[#F97316] rounded-[9px] flex justify-center items-center mt-5 mr-[173px]">
    <p class="text-xs font-normal">TECHNOLOGY</p>
  </div>
</div>

<!--This can be displayed only on medium mobile devices.-->
<div class="hidden Medium_Mobiles_Size_View:block Small_Mobiles_Size_View:hidden">
  <div class="h-4 w-[86px] bg-[#F97316] rounded-[10px] flex justify-center items-center mt-5 mr-[124px]">
    <p class="text-[10px] font-normal">TECHNOLOGY</p>
  </div>
</div>

<!--This can be displayed only on small mobile devices.-->
<div class="hidden Medium_Mobiles_Size_View:hidden Small_Mobiles_Size_View:block">
  <div class="h-3 w-[70px] bg-[#F97316] rounded-[10px] flex justify-center items-center mt-5 mr-[105px]">
    <p class="text-[8px] font-normal">TECHNOLOGY</p>
  </div>
</div>
