<!--This can be displayed all devices except medium and small mobile devices cannot be displayed.-->
<div class="block Medium_Mobiles_Size_View:hidden Small_Mobiles_Size_View:hidden">
  <div class="w-[273px] mt-2.5">
    <p class="text-lg font-bold">How I Built Web Development Challenges Website</p>
  </div>
</div>

<!--This can be displayed only on medium mobile devices.-->
<div class="hidden Medium_Mobiles_Size_View:block Small_Mobiles_Size_View:hidden">
  <div class="w-52 mt-2.5">
    <p class="text-sm font-bold">How I Built Web Development Challenges Website</p>
  </div>
</div>

<!--This can be displayed only on small mobile devices.-->
<div class="hidden Medium_Mobiles_Size_View:hidden Small_Mobiles_Size_View:block">
  <div class="w-44 mt-2.5">
    <p class="text-xs font-bold">How I Built Web Development Challenges Website</p>
  </div>
</div>
