<!--This can be displayed all devices except medium and small mobile devices cannot be displayed.-->
<div class="block Medium_Mobiles_Size_View:hidden Small_Mobiles_Size_View:hidden">
  <div class="w-[161px] flex justify-center items-center my-5 mr-32">
    <div class="flex flex-col justify-center items-center">
      <img [src]="image_link" alt="I had put an avatar image." />
    </div>
    <div class="flex flex-col justify-center items-center ml-2.5">
      <p class="text-base font-bold mr-auto">{{name}}</p>
      <p class="text-sm font-normal mr-auto">{{time}}</p>
    </div>
  </div>
</div>

<!--This can be displayed only on medium mobile devices.-->
<div class="hidden Medium_Mobiles_Size_View:block Small_Mobiles_Size_View:hidden">
  <div class="w-[161px] flex justify-center items-center my-5 mr-20">
    <div class="flex flex-col justify-center items-center">
      <img [src]="image_link" alt="I had put an avatar image." class="h-10 w-10" />
    </div>
    <div class="flex flex-col justify-center items-center ml-2.5">
      <p class="text-sm font-bold mr-auto">{{name}}</p>
      <p class="text-xs font-normal mr-auto">{{time}}</p>
    </div>
  </div>
</div>

<!--This can be displayed only on small mobile devices.-->
<div class="hidden Medium_Mobiles_Size_View:hidden Small_Mobiles_Size_View:block">
  <div class="w-[161px] flex justify-center items-center my-5 mr-16">
    <div class="flex flex-col justify-center items-center">
      <img [src]="image_link" alt="I had put an avatar image." class="h-8 w-8" />
    </div>
    <div class="flex flex-col justify-center items-center ml-2.5">
      <p class="text-xs font-bold mr-auto">{{name}}</p>
      <p class="text-[10px] font-normal mr-auto">{{time}}</p>
    </div>
  </div>
</div>
